* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #bebbbb;
    padding-top: 100px;
}

.container{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 320px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    background-color: #fff;
    color: #000;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
}

form button {
    background-color: #009432;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

#lista-tarefas {
    cursor: pointer;
}

.line-through span {
    text-decoration: line-through;
}